@import url(https://fonts.googleapis.com/css?family=Ubuntu:500,400);

/*
@author:	Erik Andersson
@date:		2011-04-05

--------------------------------------
Structure:
--------------------------------------

=Font faces
=Base blocks
=Common classes
=Navigation
=Layout
=Forms
=Modules and Content
=Liferay Portlets
=Custom Portlets
=Articles
=Debugging
=Sandbox

--------------------------------------
COLORS:
--------------------------------------

VGR Blue				#005095
VGR Blue semi-light		#06579c
VGR Blue light			#2e71a8
--------------------------------------
TODO
--------------------------------------

* Move booking portlet styling from sandbox to portlet category

*/

/*----------------------------------------------------------------------
=Font faces
----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
=Base blocks
----------------------------------------------------------------------*/

/*------- html and body -------*/

body {
	background: #fff;
	color: #333;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

/*------- wrapper -------*/

#wrapper {
	background: none;
	margin: 0 auto;
	width: 100%;
	position: relative;
	/*overflow: auto;*/
	overflow-x: hidden;
	overflow-y: hidden;
}

.ie6 #wrapper {
}

#banner,
#content,
#footer {
	margin: 0;
	padding: 0 40px;
	min-width: 960px;
}

/*------- banner (header) -------*/

#heading {
	margin: 10px 0;
}

.company-title {
	float: left;
	margin: 0;
	width: 30%;
}

.top-navigation {
	float: right;
	width: 60%;
}

#banner .company-title .logo {
	background: url(../images/rp-logo.png) top left no-repeat;
	display: block;
	float: left;
	font-size: 0;
	height: 23px;
	text-indent: -9999em;
	width: 162px;
}

#banner .company-title .server-node-info {
	display: block;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	width: 30px;
}

/*------- content -------*/

#content {
	min-height: 400px;
	position: relative;
}

/* Hide node info */
#content>.portlet-msg-info {
	display: none;
}

#main-content {
	margin: 15px 0;
	margin-right: 50px;
}

/*- tools sidebar -*/

#toolsSidebar {
	position: absolute;
	right: 0;
	top: 10px;
	width: 46px;
}

/*- notifications -*/

#notifications {
	margin: 0 0 20px 0;
}

/*- tyckt till -*/

#tycktillWrap {
}

#tycktillWrap a {
	background: #2c6fa7 url(../images/tyck-till/tyck-till-text.png) center center no-repeat;
	border: 1px solid #255d8c;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	display: block;
	font-size: 0;
	height: 100px;
	text-indent: -9999em;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
}

#tycktillWrap a:hover {
	background-color: #255d8c;
}

/*------- footer -------*/

#footer {
	padding: 0;
	width: 100%;
}

.footer-inner {
	background: #e4edf9;
	color: #005095;
	margin: 0 40px;
}

.footer-content {
	padding: 10px;
}

#footer .powered-by {
	display: block;
	float: left;
	width: 200px;
}

#footer a,
#footer a:visited {
	color: #005095;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer a.logo {
    background: url(../images/logo/vgr-logo-large-transparent.png) no-repeat scroll 0 0 transparent;
    display: block;
	float: right;
	font-size: 0;
    height: 51px;
    width: 252px;
}

#footer a.logo span {
    font-size: 0;
    text-indent: -9999em;
}


/*------- sticky footer -------*/
/**
html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: 80px; /* must be same height as the footer *//**
}
#footer {
	clear: both;
	height: 80px;
	margin-top: -80px; /* negative value of footer height *//*
	position: relative;
}

#footer .footer-inner {
	height: 80px; /* must be same height as the footer *//*
}

/*Opera Fix*//*
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
*/
/*------- Common elements -------*/

h1, h2, h3 {
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin: 1em 0 0.4em 0;
}

h1 {
	color: #005095;
	font-size: 2.5em;
	margin: 0.4em 0 0.4em 0;
}

h2 {
	color: #444;
	font-size: 1.8em;	
}

h3 {
	color: #666;
}

h4 {
	font-size: 14px;
}

a,
a:visited {
	color: #06579C;
	text-decoration: underline;
}

a:hover {
	color: #06579C;
	text-decoration: none;
}


/* ---------- Hidden Accessible ---------- */

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
.site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}


/*----------------------------------------------------------------------
=Common classes
----------------------------------------------------------------------*/

.clear {
	clear: both;
}

.hidden {
	display: none;
	visibility: hidden;
}

.el-hide {
    display: none;
}

.dummy-box {
    background: #ccc;
    height: 100px;
    width: 100%;
}

.spacer-box {
    height: 20px;
    width: 100%;
}

/* Clearfix style clearing */
.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}

.opens-new-window-accessible {
	background: url(../images/icons/icon-popup.png) 0 0 no-repeat;
	font-size: 0;
	overflow: hidden;
	text-indent: -5000px;
}


.iframe-wrap {
	height: 100%;
	width: 100%;
}


/*----------------------------------------------------------------------
=Navigation
----------------------------------------------------------------------*/


/*------- Top navigation -------*/

ul.top-nav-list {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

ul.top-nav-list li {
	display: block;
	float: left;
	margin: 0 8px;
}

.top-nav-list a {
	display: block;
	float: left;
	font-size: 1.1em;
	padding: 5px 5px;
	text-decoration: none;
}

.top-nav-settings a,
.top-nav-user a,
.top-nav-signout a,
.top-nav-quick-access a {
	background: transparent url(../images/navigation/topnav-icon-sprite.png) 0 0 no-repeat;
}

.top-nav-settings a,
.top-nav-user a,
.top-nav-signout a {
	padding-left: 18px;
}

.top-nav-quick-access a {
	padding-right: 18px;
}

.top-nav-settings a { background-position: 0 -12px; }
.top-nav-user a { background-position: 0 -111px; }
.top-nav-signout a { background-position: 0 -162px; }
.top-nav-quick-access a { background-position: 100% -58px; }

.top-nav-settings a:hover { background-position: 0 -212px; }
.top-nav-user a:hover { background-position: 0 -311px; }
.top-nav-signout a:hover { background-position: 0 -362px; }

.top-nav-quick-access a.active,
.top-nav-quick-access a:hover {
	background-position: 100% -258px;
}


ul.top-nav-list li a.active,
ul.top-nav-list li a:hover {
	background-color: #e4edf9;
}

/*------- Main navigation -------*/

#navigation {
	background: #255d8c url(../images/navigation/nav-bg-normal.png) top left repeat-x;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 2px 2px 2px 2px #255d8c;
	-moz-box-shadow: 2px 2px 2px 2px #255d8c;
	box-shadow: 2px 2px 2px 2px #255d8c;
	
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	clear: both;
	margin: 0 auto 5px;
	min-height: 2.2em;
	padding: 0 6px;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
	z-index: 10;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0 6px;
}

.ie7 #navigation ul {
	padding: 2px;
}

#navigation ul.nav-list li {
	background: url(../images/navigation/nav-sep.png) top right repeat-y;
	display: list-item;
	float: left;
	padding-right: 2px;
	vertical-align: middle;
	zoom: 1;
}

#navigation ul.nav-list li a {
	background: transparent;
	color: #fff;
	display: block;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.0;
	margin: 0;
	padding: 10px 14px;
	text-decoration: none;
}

#navigation ul.nav-list > li.selected > a,
#navigation ul.nav-list > li.selected.hover > a,
#navigation ul.nav-list > li.selected:hover > a {	
	background: #54752f url(../images/navigation/nav-bg-active.png) top left repeat-x;
	color: #fff;
}

#navigation ul.nav-list li.hover > a,
#navigation ul.nav-list li:hover > a {
	background: #e4edf9;
	color: #255d8c;
}

#navigation ul.nav-list ul {
	background: #e4edf9;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	left: 0;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: 200px;
	z-index: 598;	
}

#navigation  ul.nav-list ul li {
	background: none;
	border-bottom: 1px solid #ccc;
	float: none;
	padding: 0;
}

#navigation ul.nav-list ul li a {
	background: #e4edf9;
	color: #255d8c;
	display: block;
	font-size: 1.1em;
	padding: 10px 5px;
	text-decoration: none;
}

#navigation ul.nav-list ul li a:hover {
	background: #255d8c;
	color: #e4edf9;
}

#navigation  ul.nav-list li:hover > ul {
	visibility: visible;
}

#navigation  ul.nav-list li:hover > ul li {}

#navigation  ul.nav-list li:hover > ul li a {
	
}

/*------- Quick Access Navigation -------*/

.quick-access-overlay {
}

.quick-access-overlay .aui-overlay-content {
	background: #e4edf9;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;	
	border: 1px solid #e4edf9;
	-moz-box-shadow: 1px 1px 4px #777;
	-webkit-box-shadow: 1px 1px 4px #777;
	box-shadow: 1px 1px 4px #777;	
	position: relative;
}

.quick-access-nav-hd {
	border-bottom: 1px solid #b0b1b3;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
}

.quick-access-nav-hd h3 {
	color: #005095;
	float: left;
	margin: 0 10px 0 0;
	width: 130px;
}

.quick-access-nav-hd .filter-wrap {
	float: left;
	width: 600px;
}

.quick-access-nav-hd .filter-wrap label,
.quick-access-nav-hd .filter-wrap input,
.quick-access-nav-hd .filter-wrap span.help-text {
	display: inline;
	padding-right: 10px;
}

ul.quick-access-nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.quick-access-nav-list li.first-level {
	min-height: 150px;
    width: 220px;
    /*
    border: 1px solid #b0b1b3;
    border-width: 0 1px 0 0;
    */
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
}

.ie7 ul.quick-access-nav-list li.first-level {
	display: inline;
} 

ul.quick-access-nav-list li.first-level a {
	color: #444;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

ul.quick-access-nav-list li.first-level a:hover {
	text-decoration: underline;
}

ul.quick-access-nav-list ul.child-menu {}

ul.quick-access-nav-list ul.child-menu li {}

ul.quick-access-nav-list ul.child-menu li a {
	color: #333;
	text-decoration: none;
}

ul.quick-access-nav-list ul.child-menu li a:hover {
	text-decoration: underline;
}

/*------- Sub navigation -------*/


/* ---------- Breadcrumbs ---------- */


/* ---------- Site breadcrumbs ---------- */


/*----------------------------------------------------------------------
=Layout
----------------------------------------------------------------------*/



/*----------------------------------------------------------------------
=Forms
----------------------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
textarea,
.textarea,
button,
a.link-button,
a:visited.link-button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #bfbfbf #dedede #dedede #bfbfbf;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
}

.form-general {
	margin: 3px 6px 0;
}

.form-general label {
	display: block;
	margin: 0 4px 0 0;
}

.form-general input,
.form-general select,
.form-general textarea {
	margin: 0;
}

.form-general .alt {
	display: inline;
	margin: 0 3px 0 0;
}

.form-general .alt1 {
	float: left;
	width: 50%;
}

.form-general .alt2 {
	float: right;
	width: 50%;
}

.text, .radio,
.checkbox, .select {
	margin: 0 0 3px;
}

.text div,
.radio div,
.checkbox div,
.select div {
	margin-left: 20px;
}

.text input {
	width: 27em;
}

.text textarea {
	height: 10em;
	width: 27em;
}

.pwd input {
	width: 6em;
}

.form-general fieldset {
	border: 1px solid #ccc;
	margin: 1em 0;
	padding: 5px 8px;
}

.control-group {
	margin: 1em 0;
}

.checkbox, .radio {
	white-space: nowrap;
}

.checkbox input,
.radio input {
	vertical-align: middle;
}

.checkbox label,
.radio label {
	display: inline;
	margin-left: 3px;
	vertical-align: middle;
}

.alt label {
	display: inline;
}

.submit-area {
	clear: both;
	margin: 1em 0 0.5em;
	text-align: center;
}

.size-1 input { width: 50px; }
.size-2 input { width: 100px; }
.size-3 input { width: 200px; }
.size-4 input { width: 300px; }

/*------- aui forms -------*/

.aui-fieldset-legend {
	color: #333;
}

.aui-legend {
	border: none;
}

/*------- Buttons and Link buttons -------*/


/*----------------------------------------------------------------------
=Modules and Content
----------------------------------------------------------------------*/

/*------- VGR tabs -------*/

.vgr-tabs {
	background: #2C6FA7;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	margin: 10px 0;
	padding: 3px;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
}

.vgr-tabs .aui-tabview-list {
	background: none;
	border: 0;
	margin: 0;
	padding: 4px 0 0 0;
}

.vgr-tabs .aui-tab {
	background: none;
	border: none;
	margin: 0 1px 0 0;
}

.vgr-tabs .aui-tab-active {
	background: #fff;
	border-color: #fff;
}

.vgr-tabs .aui-tab-active:after {
	border: none;
	bottom: 0;
	content: '';
	left: 0;
	margin-left: 0;
	z-index: 0;
}

.vgr-tabs .aui-tab-content {
	padding: 0;
}

.vgr-tabs .aui-tab a,
.vgr-tabs .aui-tab a:link {
	background: #06579C;
	border: 1px solid #75A1C6;
	border-bottom: 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	color: #fff;
	display: block;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px 10px;
	text-decoration: none;
	text-shadow: none;
}

.vgr-tabs .aui-tab-active a,
.vgr-tabs .aui-tab-active a:link,
.vgr-tabs .aui-tab a:hover {
	background: #fff;
	border-color: #fff;
	color: #06579C;
}

/* .vgr-tabs-content > .aui-tabview-content */
.vgr-tabs .vgr-tabs-content-wrap {
	background: #fff;
	border: 0;
	border-top: none;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	padding: 10px;
}

/*------- Dialog (aui) -------*/

.aui-dialog-bd fieldset,
.aui-dialog-bd .aui-form fieldset {
    margin: 5px 0;
}

/*------- News list - used in news portlets -------*/

.featured {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

.list-news li {
	margin-top: 0.5em;
}

.list-news li p {
	margin-bottom: 0.5em;
}


/*----------------------------------------------------------------------
=Liferay Portlets
----------------------------------------------------------------------*/

/*------- Portlet wrapper and icons -------*/

.portlet {
	background-color: transparent;
	margin: 0 0 10px;
	padding: 0;
	text-align: left;
}

.portlet .portlet-topper {
	background: #255e8d url(../images/portlet/portlet-hd-bg-1.png) top left repeat-x;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;	
	position: relative; /* Position relative needed for css3pie.htc to work properly */
}

.portlet .portlet-content {
	background: #fff;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	border: 1px solid #2c6fa7;
	border-width: 0 1px 1px 1px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius:  0 0 6px 6px;	
	padding: 12px;
	position: relative; /* Position relative needed for css3pie.htc to work properly */	
}

.portlet-title {
	color: #fff;
	float: none;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 7px 10px;
}

.portlet-title .icon {
	display: none;
}

.portlet-icons {
	float: none;
}

.portlet-msg-info {
    background-repeat: no-repeat;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

.lfr-actions.portlet-options .lfr-trigger strong a {
	text-indent: -9999px;
	text-decoration: none;
}

.portlet-minimize a,
.portlet-minimize a:hover,
.portlet-maximize a,
.portlet-maximize a:hover,
.portlet-close a,
.portlet-close a:hover {
	text-decoration: none;
}

/*------- Portlet Dockbar -------*/


/*------- Portlet Alerts -------*/


/*------  Portlet Announcements --------*/


/*------- Portlet Navigation ------*/

/*------- Portlet Journal Content ------*/


/*------- Portlet Knowledge Base Display/Knowledge Base Aggregator ------*/

/*------- Portlet Knowledge Base Aggregator ------*/

.knowledge-base-portlet-aggregator .lfr-panel .lfr-panel-titlebar {
	background-position: 2px 63%;
}

.knowledge-base-portlet-aggregator .lfr-panel-titlebar .lfr-panel-title {
	color: #444;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	margin: 1em 0 0.4em 0;
}

/*----------------------------------------------------------------------
=Custom Portlets
----------------------------------------------------------------------*/

/* ---------------- User Wizard portlet ------------------------- */

.user-wizard-portlet {}

.user-wizard-portlet .portlet-borderless-container {
	min-height: 0;
}

.controls-visible .user-wizard-portlet .portlet-borderless-container {
	min-height: 2.5em;
} 

/*-------User Wizard Dialog -------*/

.user-wizard-dialog .aui-dialog-hd {
	background: #2C6FA7;
	color: #fff;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	text-shadow: none;
}

.user-wizard-dialog .aui-buttonitem-content {
	background: none;
	border: none;
	height: 35px;
	width: 34px;
	padding: 0px;
}

.user-wizard-dialog .aui-icon-closethick {
	background: transparent url(../images/user-wizard/wizard-close-button-sprite.png) 0 0 no-repeat;
	height: 32px;
	width: 32px;
}

.user-wizard-dialog .aui-state-hover .aui-icon-closethick {
	background-position: 0 -50px;
}

.user-wizard-dialog .aui-panel-hd-text {
	line-height: 1.4;
}

.user-wizard-content-wrap {
	padding: 10px 15px;
}

.user-wizard-dialog .user-wizard-intro {
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0 0 10px 0;
}

.user-wizard-content-wrap {
	color: #333;
	/* Position relative and z-index needed for css3pie.htc to work properly
	    http://css3pie.com/documentation/known-issues/#z-index
	 */
    position: relative; 
    z-index: 100000;
}

.user-wizard-dialog .user-wizard-personalize-wrap {
	background: #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	/* Needs an absolute path */
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */	
    display: block;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
    font-weight: normal;
	margin: 10px 0;
    padding: 15px;
}

.user-wizard-personalize-text {
	background: transparent url(../images/user-wizard/wizard-personalization-matte-ddd.png) 0 50% no-repeat;
	padding-left: 110px;
	padding: 10px 0 10px 110px;
}

.user-wizard-profile-link-wrap {
	text-align: right;
}

.user-wizard-profile-link-wrap a,
.user-wizard-profile-link-wrap a:link,
.user-wizard-profile-link-wrap a:hover {
	background: transparent url(../images/user-wizard/link-icon-matte-ddd.png) 0 50% no-repeat;
	color: #2c6fa7;
	font-size: 14px;
	padding-left: 14px;
	text-decoration: none;
}

.user-wizard-profile-link-wrap a:hover span {
	text-decoration: underline;
}

.user-wizard-control-wrap {
	border: 1px solid #ccc;
	border-width: 1px 0 1px 0;
	margin-top: 10px;
	padding: 10px;
}

.user-wizard-control-wrap a,
.user-wizard-control-wrap a:link,
.user-wizard-control-wrap a:hover {
	color: #333;
	display: block;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
    font-weight: normal;
	line-height: 28px;
	min-height: 28px;
	padding-left: 40px;
	text-decoration: none;
}

.user-wizard-control-wrap a {
	background: transparent url(../images/user-wizard/wizard-checkbox-sprite.png) 0 0 no-repeat;
}

.user-wizard-control-wrap a.checked {
	background-position: 0 -50px;
}

.user-wizard-control-wrap a:hover span {
	text-decoration: underline;
}

/* ---------------- RSS portlet ------------------------- */

ul.list-news {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.list-news li {
	border-bottom: 1px solid #EBF2F8;
	padding: 5px 0;
}

.list-news .news-date {
	color: #777;
	display: block;
	float: left;
	width: 80px;
}

.list-news .news-block {
	display: block;
	margin: 0 0 0 80px;
}

.list-news .news-item-no-date .news-date {
	display: none;
}

.list-news .news-item-no-date .news-block {
	margin-left: 0;
} 

.list-news .news-title {
	display: block;
}

a.news-title {
    font-size: 1em;
}

/* ---------------- calendar portlet (notes) ------------------------- */

.calendar-wrap {}

.cal-day-wrap {
	margin: 10px 0;
}

h4.cal-date {
	border-bottom: 1px solid #EBF2F8;
	color: #005095;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

ul.cal-item-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.cal-item-list li {
	border-bottom: 1px solid #EBF2F8;
	margin: 0;
	padding: 2px 2px;
	clear: both;
}

/* Clearfix style clearing */
ul.cal-item-list li:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
ul.cal-item-list li{display:inline-block}
* html ul.cal-item-list li{height:1%}
ul.cal-item-list li{display:block}

.cal-item-time {
	display: block;
	float: left;
	width: 19%;
}

.cal-item-title {
	display: block;
	float: left;
	width: 55%;
}

.cal-item-type {
	display: block;
	float: right;
	width: 24%;
}

/*------- Notifications Bar ------*/

.notifications-bar-portlet {}

ul.notfications-bar-list {
	background: #cad2dd;
	border: 1px solid #b0b1b3;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	list-style: none;
	margin: 0;
	padding: 0px 0;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
	/*width: 42px;*/
}

ul.notfications-bar-list li {
	border-bottom: 1px solid #b0b1b3;
	border-top: 1px solid #e4edf9;
}

ul.notfications-bar-list li.first {
	border-top: none;
}

ul.notfications-bar-list li.last {
	border-bottom: none;
}

ul.notfications-bar-list li a {
	background-color: transparent;
	display: block;
	height: 49px;
	position: relative;
	text-decoration: none;
}

ul.notfications-bar-list li a .count {
	background: #fff;
	
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */

	left: 0px;
	padding: 2px;
	position: absolute;
	top: 0px;	
}

ul.notfications-bar-list li a .count span {
	background: #444;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.0;
	padding: 2px 5px 3px;
	text-align: center;
}

ul.notfications-bar-list li a .count-highlight span {
	background: #b00;	
}

ul.notfications-bar-list li a .title {
	display: block;
	font-size: 0;
	text-indent: -9999em;
}

ul.notfications-bar-list li.active a,
ul.notfications-bar-list li a:hover {
	background-color: #e4edf9;
}

.notifications-bar-invoices a,
.notifications-bar-usd a,
.notifications-bar-todo a,
.notifications-bar-documents a,
.notifications-bar-email a {
	background-image: url(../images/notifications/notification-icons-sprite.png);
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.notifications-bar-invoices a {
	background-position: 50% 7px;
}
.notifications-bar-usd a {
	background-position: 50% -88px;
}
.notifications-bar-todo a {
	background-position: 50% -193px;
}
.notifications-bar-documents a {
	background-position: 50% -293px;
}
.notifications-bar-email a {
	background-position: 50% -387px;
}

.notifications-overlay {
}

/* -- Overlay -- */

.notifications-overlay .aui-overlay-content {
	background: #e4edf9;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;	
	border: 1px solid #e4edf9;
	-moz-box-shadow: 1px 1px 4px #777;
	-webkit-box-shadow: 1px 1px 4px #777;
	box-shadow: 1px 1px 4px #777;	
	min-height: 40px;
	position: relative;
}

.notifications-overlay h3 {
	background: transparent url(../images/notifications/notifications-sep.png) bottom left repeat-x;
	color: #005095;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
}

/* -- Notification Items -- */

.notifications-wrap {
	padding: 0 3px;
}

ul.notifications-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.notifications-list li {
	background: transparent url(../images/notifications/notifications-sep.png) bottom left repeat-x;
	margin: 3px 0;
	padding: 3px 0;
}

ul.notifications-list li a,
ul.notifications-list li a:visited {
	color: #555;
	text-decoration: none;
}

ul.notifications-list li a:hover {
	color: #333;
	text-decoration: underline;
}

ul.notifications-list .notification-types {
	display: block;
	float: left;
	width: 40px;
}

ul.notifications-list .notification-summary {
	display: block;
	margin: 0 0 0 40px; 
}

ul.notifications-list .notification-type {
	float: left;
	font-size: 0;
	display: block;
	line-height: 20px;
	height: 16px;
	margin: 0 2px 2px 0;
	position: relative;
	text-align: center;
	text-indent: -9999em;
	width: 16px;
}

ul.notifications-list .notification-type-1 {
	background: url(../images/icons/red16x16.png) 0 0 no-repeat;
}

ul.notifications-list .notification-type-2 {
	background: url(../images/icons/yellow16x16.png) 0 0 no-repeat;
}

ul.notifications-list .notification-usd-type {
	background: #eee;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	font-size: inherit;
	height: 20px;
	text-indent: 0;
	width: 14px;
}

ul.notifications-list .notification-usd-type-warning {
	background: #f08080;
	border-color: #ff0000;
}

/*------- Section Navigation (navigation stub) ------*/

ul.section-navigation-list {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

ul.section-navigation-list li {
	display: block;
	float: left;
	margin: 10px 30px 10px 0;
	width: 300px;
}

ul.section-navigation-list li a {
	background: url(../images/navigation/section-navigation-icons-sprite.png) 0 0 no-repeat;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
	
	-webkit-box-shadow: 2px 2px 2px 2px transparent;
	-moz-box-shadow: 2px 2px 2px 2px transparent;
	box-shadow: 2px 2px 2px 2px transparent;
	
	display: block;
	min-height: 60px;
	padding: 10px;
	padding-left: 80px;
	text-decoration: none;
}

ul.section-navigation-list li.documents a { background-position: 0 -300px; }
ul.section-navigation-list li.communication a { background-position: 0 -600px; }
ul.section-navigation-list li.region-calendar a { background-position: 0 -900px; }
ul.section-navigation-list li.sambo a { background-position: 0 -1200px; }
ul.section-navigation-list li.travel-booking a { background-position: 0 -1500px; }
ul.section-navigation-list li.heroma a { background-position: 0 -1800px;	}
ul.section-navigation-list li.clarity a { background-position: 0 -2100px; }
ul.section-navigation-list li.pivotaltracker a { background-position: 0 -2400px; }

ul.section-navigation-list li a:hover {
	-webkit-box-shadow: 2px 2px 2px 2px #e4edf9;
	-moz-box-shadow: 2px 2px 2px 2px #e4edf9;
	box-shadow: 2px 2px 2px 2px #e4edf9;
	

	-webkit-box-shadow: 2px 2px 2px 2px #aaaaaa;
	-moz-box-shadow: 2px 2px 2px 2px #aaaaaa;
	box-shadow: 2px 2px 2px 2px #aaaaaa;
	
}

ul.section-navigation-list li a .title {
	display: block;
	color: #005095;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
}

ul.section-navigation-list li a .description {
	color: #333;
	display: block;
}

/*----------------------------------------------------------------------
=Articles
----------------------------------------------------------------------*/

/*------- All articles -------*/

.journal-content-article {}

/*------- All articles -------*/

.journal-content-article {}

/*------- News Box -------*/

.news-box-wrap {
	border: 1px solid #2c6fa7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	margin: 10px 0;
	padding: 6px;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
}

.news-box {
	position: relative;
}

.news-box a,
.news-box a:link,
.news-box a:hover {
	text-decoration: none;	
}

.news-box a.news-box-link {
	background: #fff;
	cursor: pointer;
	display: block;
	height: 220px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.news-box .news-box-link-content {
	padding: 10px;
}


.news-box-image-wrap {
	float: left;
	width: 30%;
}

.news-box a h1 {
	color: #2c6fa7;
	font-size: 26px;
	margin: 5px 0;
	padding: 0;
}

.news-box-description-wrap {
	background: url(../images/bg/bg_fff.gif) repeat 0 0;
	float: right;
	width: 69%;
}

.news-box a h2 {
	color: #555;
	font-size: 18px;
	margin: 5px 0;
	padding: 0;
}

.news-box .span-btn {
	background: #317cbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	color: #fff;
	display: block;
	float: right;
	font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 10px 15px;
	margin: 0;
	position: relative; /* Position relative needed for css3pie.htc to work properly */
}

.news-box-js .aui-carousel {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
}

.news-box-js .aui-carousel-item {
	opacity: 0;
}

.news-box .aui-carousel menu {
    background: #2c6fa7;
    bottom: 0px;
    margin: 0;
    padding: 3px;
    position: absolute;
    right: 0px;
	width: 100%;
    z-index: 4;
}

.news-box-js .aui-carousel-menu-item {
	border: 1px solid transparent;
}

.news-box-js .aui-carousel-menu-active {
	border: 1px solid #474A4B;
}

.news-box-js .aui-carousel-menu-pause,
.news-box-js .aui-carousel-menu-play,
.news-box-js .aui-carousel-menu-prev,
.news-box-js .aui-carousel-menu-next {
	/*display: none;*/
}


.news-box-menu-wrap {
	background: #2c6fa7;
	padding: 10px;
}

ul.news-box-menu {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
}

ul.news-box-menu li {
	background: #80a9ca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Needs an absolute path */
	behavior: url(/rp-new-theme/htc/css3pie.htc); /* Needs an absolute path */
	cursor: pointer;	
	float: left;
	font-size: 0;
	height: 10px;
	width: 10px;
	list-style-type: none;
	margin: 0 3px;
	padding: 0;
	/* Position relative needed for css3pie.htc to work properly */
	position: relative;
	text-indent: -9999em;
}

ul.news-box-menu li.aui-carousel-menu-active {
	background: #fff;
}

.news-box-menu .aui-carousel-menu-pause,
.news-box-menu .aui-carousel-menu-prev,
.news-box-menu .aui-carousel-menu-next {
	display: none;
}

/*----------------------------------------------------------------------
=Debugging
----------------------------------------------------------------------*/

/*------- YUI Console -------*/

.yui3-separate-console{position:absolute;right:1em;top:1em;z-index:999;}

.yui3-inline-console{display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;vertical-align:top;}

.yui3-inline-console 
.aui-console-content{position:relative;}

.aui-console-content{background:#777;_background:#D8D8DA url(../images/console/bg.png) repeat-x 0 0;font:normal 13px/1.3 Arial,sans-serif;text-align:left;border:1px solid #777;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}

.aui-console-hd,

.aui-console-bd,

.aui-console-ft{position:relative;}

.aui-console-hd,

.aui-console-controls{text-align:right;}

.aui-console-hd{background:#D8D8DA url(../images/console/bg.png) repeat-x 0 0;padding:1ex;border:1px solid transparent;_border:0 none;border-top-right-radius:10px;border-top-left-radius:10px;-moz-border-radius-topright:10px;-moz-border-radius-topleft:10px;-webkit-border-top-right-radius:10px;-webkit-border-top-left-radius:10px;}

.aui-console-bd{background:#fff;border-top:1px solid #777;border-bottom:1px solid #777;color:#000;font-size:11px;overflow:auto;overflow-x:auto;overflow-y:scroll;_width:100%;}

.aui-console-ft{background:#D8D8DA url(../images/console/bg.png) repeat-x 0 0;border:1px solid transparent;_border:0 none;border-bottom-right-radius:10px;border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;}

.aui-console-controls{padding:4px 1ex;zoom:1;}

.aui-console-title{color:#000;display:inline;float:left;font-weight:bold;font-size:13px;height:24px;line-height:24px;margin:0;padding-left:1ex;}

.aui-console-pause-label{float:left;}

.aui-console-button{line-height:1.3;}

.aui-console-collapsed 
.aui-console-bd,

.aui-console-collapsed 
.aui-console-ft{display:none;}

.aui-console-content
.aui-console-collapsed{-webkit-border-radius:0;}

.aui-console-collapsed 
.aui-console-hd{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:0;}

.aui-console-entry{border-bottom:1px solid #aaa;min-height:32px;_height:32px;}

.aui-console-entry-meta{margin:0;overflow:hidden;}

.aui-console-entry-content{margin:0;padding:0 1ex;white-space:pre-wrap;word-wrap:break-word;}

.aui-console-entry-meta 
.aui-console-entry-src{color:#000;font-style:italic;font-weight:bold;float:right;margin:2px 5px 0 0;}

.aui-console-entry-meta 
.aui-console-entry-time{color:#777;padding-left:1ex;}

.aui-console-entry-warn 
.aui-console-entry-meta 
.aui-console-entry-time{color:#555;}

.aui-console-entry-info 
.aui-console-entry-meta 
.aui-console-entry-cat,

.aui-console-entry-warn 
.aui-console-entry-meta 
.aui-console-entry-cat,

.aui-console-entry-error 
.aui-console-entry-meta 
.aui-console-entry-cat{display:none;}

.aui-console-entry-warn{background:#aee url(../images/console/warn_error.png) no-repeat -15px 15px;}

.aui-console-entry-error{background:#ffa url(../images/console/warn_error.png) no-repeat 5px -24px;color:#900;}

.aui-console-entry-warn 
.aui-console-entry-content,

.aui-console-entry-error 
.aui-console-entry-content{padding-left:24px;}

.aui-console-entry-cat{text-transform:uppercase;padding:1px 4px;background-color:#ccc;}

.aui-console-entry-info 
.aui-console-entry-cat{background-color:#ac2;}

.aui-console-entry-warn 
.aui-console-entry-cat{background-color:#e81;}

.aui-console-entry-error 
.aui-console-entry-cat{background-color:#b00;color:#fff;}

.aui-console-hidden{display:none;}

/* Position the console so that it does not hide the sidebar */
.yui3-separate-console{
	right: 400px;
	top: 100px;
}


/*----------------------------------------------------------------------
=Sandbox
----------------------------------------------------------------------*/