<div class="footer-inner aui-lay clearfix">

	<div class="powered-by">
		#language("powered-by") <a href="http://www.liferay.com" rel="external">Liferay EE</a>
	</div>
	
	<a class="logo" href="$company_url">
		<span>$region_portal_name</span>
	</a>
	
</div>