<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

#if($showDockbar)
	<div id="dockbarWrap">
		#dockbar()	
	</div>
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<hgroup id="heading" class="clearfix">
			<h1 class="company-title">
				<a class="logo" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
			</h1>
			#parse ("$full_templates_path/top_navigation.vm")

		</hgroup>

		#if(!$is_signed_in)
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
			<div id="toolsSidebar" class="tools-sidebar">
				#if($show_notifications_portlet)
					#parse ("$full_templates_path/notifications.vm")
				#end
				#parse ("$full_templates_path/tyck-till-content.vm")
			</div>
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
</div>

<footer id="footer" role="contentinfo">
	#parse ("$full_templates_path/footer.vm")
</footer>

</body>

$theme.include($bottom_include)

#js ("$javascript_folder/rp-tyck-till.js")
#js ("$javascript_folder/rp-quick-access-nav.js")
#js ("$javascript_folder/vgr-novus-main.js")
#js ("$javascript_folder/vgr-novus-instance.js")
#js ("$javascript_folder/theme-main.js")

</html>