##
## Null
##

#set($null = $some-never-used-variable)


##
## Services
##

##
## Dockbar
##

#set($showDockbar = $is_signed_in)

#* ------  ------------------------------------- *#

##
## Phrases
##

#set ($region_portal_name="Regionportalen")

##
## Top navigation
##

#set($topnavSettingsShowText = "Visa meny f&ouml;r inst&auml;llningar")
#set($topnavSettingsHideText = "G&ouml;m meny f&ouml;r inst&auml;llningar")
#set($topnavQuickAccessText = "Snabbnavigering")

##
## Tyck till
##

#set($tycktillPortalURL = "#tyck-till")
#set($tycktillDialogURL = "http://tycktill.vgregion.se/tyck-till/tycktill/KontaktaOss?formName=portalen&breadcrumb=portalen-tycktill")

##
## Quick Access Navigation
##

#set($quickAccessNavTitle = "Snabbnavigering")
#set($quickAccessNavFilterLabel = "Filter")
#set($quickAccessNavHelpText = "Skriv in namnet p&aring; det system du letar efter s&aring; sorteras listan efter detta.")

##
## Notification portlet
##

#set($show_notifications_portlet = $is_signed_in)

#set ($notifications_portlet_stub_id = "notificationsbarstubportlet_WAR_notificationsbarstubportlet")
#set ($notifications_portlet_prod_id = "notifications_WAR_notificationsportlet")

#set ($notifications_portlet_id = $notifications_portlet_stub_id)
#set ($notifications_portlet_id = $notifications_portlet_prod_id)