<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	
	#if($useResponsiveDesign)
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	#end

	$theme.include($top_head_include)
	
	#if($useResponsiveDesign)
		<link rel="stylesheet" type="text/css" href="$css_folder/responsive.css" />
	#end
</head>

<body class="$css_class $css_rp_admin">

#if($showDockbar)
	<div id="dockbarWrap">
		#dockbar()	
	</div>
#end


<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<hgroup id="heading" class="clearfix">
			#if($useResponsiveDesign)
				<a href="navigationTrigger" id="navigationTrigger"><span>Meny</span></a>
			#end
			<h1 class="company-title">
				<a class="logo" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
			</h1>
			#parse ("$full_templates_path/top_navigation.vm")

		</hgroup>

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		#if ($selectable)
		
			#if($show_breadcrumbs)
				<nav class="site-breadcrumbs aui-helper-hidden clearfix" id="breadcrumbs">
					<div class="breadcrumbs-list-wrap clearfix">
						<div class="breadcrumbs-label">
							$breadcrumbs_label:
						</div>
						#breadcrumbs()
					</div>
					<h1>$the_title</h1>
				</nav>
			#end
		
			$theme.include($content_include)
			<div id="toolsSidebar" class="tools-sidebar">
				#if($show_notifications_portlet)
					#parse ("$full_templates_path/notifications.vm")
				#end
				#if($is_signed_in)
					#parse ("$full_templates_path/tyck-till-content.vm")
				#end
			</div>
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
</div>

<footer id="footer" role="contentinfo">
	#parse ("$full_templates_path/footer.vm")
</footer>

</body>

$theme.include($bottom_include)

#*
## This script appears to be problematic with the current theme.
<!--[if lt IE 9]>
	<script src="$javascript_folder/css3-mediaqueries.js"></script>
<![endif]-->
*#

#js ("$javascript_folder/rp-tyck-till.js")
#js ("$javascript_folder/rp-quick-access-nav.js")
#js ("$javascript_folder/rp-system-help.js")
#js ("$javascript_folder/rp-navigation-button.js")
#js ("$javascript_folder/vgr-novus-main.js")
#js ("$javascript_folder/rp-new-theme.js")
#js ("$javascript_folder/rp-footer-plugin.js")
#js ("$javascript_folder/theme-main.js")

</html>