<nav class="top-navigation" id="topNavigation">
	<ul class="top-nav-list clearfix">
		
		#if($showDockbar)
			<li class="top-nav-settings top-nav-settings-show">
				<a href="#top-nav-settings-show">
					<span>$topnavSettingsShowText</span>
				</a>
			</li>
			<li class="top-nav-settings top-nav-settings-hide aui-helper-hidden">
				<a href="#top-nav-settings-hide">
					<span>$topnavSettingsHideText</span>
				</a>
			</li>
		#end
		#if($is_signed_in)
			<li class="top-nav-quick-access aui-helper-hidden">
				<a href="#top-nav-quick-access">
					<span>$topnavQuickAccessText</span>
				</a>
				
				<div class="quick-access-nav-list-wrap aui-helper-hidden">
					<div class="quick-access-nav-hd clearfix">
						<h3>$quickAccessNavTitle</h3>
						<div class="filter-wrap">
							<label for="quickAccessFilterInput">$quickAccessNavFilterLabel</label>
							<input type="text" name="quickAccessFilterInput" id="quickAccessFilterInput" value="" class="" />
							<span class="help-text">$quickAccessNavHelpText</span>
						</div>				
					</div>
				</div>
			</li>
		#end
		#if($is_signed_in)
			<li class="top-nav-user">
				<a href="#top-nav-user">
					<span>$user_name</span>
				</a>
			</li>
		#end
		#if($is_signed_in)
			<li class="top-nav-signout">
				<a href="$sign_out_url">
					<span>$sign_out_text</span>
				</a>
			</li>
		#elseif($show_sign_in_link)
			<li class="top-nav-signout">
				<a href="$sign_in_url">
					<span>$sign_in_text</span>
				</a>
			</li>
		#end
	</ul>
</nav>